.header {
  align-items: center;
  display: flex;
  gap: 30px;

  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 20px 20px 20px 60px;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.header .logo-text {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
